include header
div(class= 'wrap, text-center, content')
  h1(class='site-header, text-center') Node Shop
  each val, index in goods
    div(class='card, full-width col col-md-4')
      a(href="goods?id="+val['id']) 
      h3(class='text-center') #{val['name']}
      img(
        src='images/'+val['image']
        class='card-images'
      )
      p(class='text-center') #{val['description']}
      p(class='text-center') #{val['cost']+' грн'}
